.sidebar-container {
    width: 250px;
    height: 1080px;
    color: #fff;
    background-color: #091928;
  }
 
.sidebar-header {
    max-width: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.sidebar-header-content {
    display: inline-flex;
}

.sidebar-header-content > .clerkie-svg, .navigation-svg {
    padding-right: 10px;
}

.navigation-svg {
    padding-left: 10px;
}

.sidebar-button {
    display: inline-flex;
    list-style: none;
    align-items: center;
    width: 210px;
    height: 40px;
}

.sidebar-button:hover {
    background-color: #424242;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-navigation-list {
    padding-inline-start: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  h4 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

   li > h4 {
    font-weight: 500;
  }