.sidebar-container {
    width: 250px;
    height: 1080px;
    color: #fff;
    background-color: #091928;
  }
 
.sidebar-header {
    max-width: 176px;
}
.sidebar-title {
    position: relative;
    left: 25px;
    top: 30px
  }

.sidebar-button {
    list-style: none;
    width: 220px;
    position: relative;
    top: 55px;
}

  h4 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }