.filter-container {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: white;
    width: 320px;
    height: 286px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.filter-options {
    max-width: 100%;
    margin-top: 30px;
    padding-left: 25px;
}

.filter-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 5px;
}

.clear-filter-container {
    margin-left: 20px;
}

.clear-filter-container, .filter-title {
    width: 100px;
}

.exit-filter {
    width: 35px;
    margin: 2px 2px 0px 0px;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 25px 0px;
}

.checkbox-container > label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #424242;
}

.checkbox-container > input {
    position: relative;
    bottom: 4px;
    width: 19px;
    height: 19px;
}

.filter-options > p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
}

.apply-filters-button {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: #424242;
    border-radius: 6px;
    max-width: 100%;
    margin: 0px 10px 0px 10px;
}

.filter-footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.filter-footer > .apply-filters-button {
    width: 100%;
    height: 45px;
    cursor: pointer;
}

/* TODO: Figure out how to clean things up */