.friend-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 115px;
    border: 1px solid #D7D7D7;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 15px 0px;
    padding-left: 25px;
}

.friend-card > h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.friend-card > h4 > .friend-status {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
}

.friend-status.blue {
    color: #3399FF;
    background: #DFEFFF;
    border-radius: 21px;
    padding: 3px 7px;
}

.friend-status.green {
    color: #19B444;
    background: #DCFFE6;
    border-radius: 21px;
    padding: 3px 7px;
}

.contact-info {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ABABAB;
}

.contact-info > svg {
    margin: 1px 7px;
}

.friends-list-container {
     display: flex;
    flex-direction: column;
    margin-top: 150px;
}
/* TODO: Figure out how to clean things up */